/* Module */
/************************************************/
.bl_slide_container {
	border-radius: 14px;
	height: 600px;
	overflow: hidden;
	position: relative;
	z-index: -1;
}

@include maxmq(sm) {
	.bl_slide_container {
		height: 300px;
	}
}

.el_slide_list {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.el_slide_img {
	@include maxmq(sm) {
		object-position: 15% 10%;
	}

	font-family: "object-fit: cover;";  /*IE対策*/
	height: 100%;
	object-fit: cover;
}
