/* ページ独自のスタイル */
/************************************************/
.un_concept_lead {
	@include maxmq(sm) {
		text-align: left;
	}

	text-align: center;
}

.un_concept_text {
	@include f_around(20 , 34 , false , 100);
	@include maxmq(sm) {
		font-size: rem(16);
	}

	margin-top: 1.4em;
}

.un_concept_stance {
	margin: 0 auto;
	margin-top: -12px;
	max-width: 878px;
}

.un_concept_stanceBlock {
	@include maxmq(sm) {
		flex-direction: column;
		margin-top: 40px;
	}

	display: flex;
	margin-top: 75px;
}

.un_concept_stanceImg {
	@include maxmq(sm) {
		height: 300px;
		margin: 20px auto 0;
		order: 2;
		width: 60%;
	}
	@include maxmq(sm) {
		height: 250px;
		width: 250px;
	}

	border-radius: 14px;
	flex-shrink: 0;
	height: 200px;
	overflow: hidden;
	width: 200px;
	img {
		font-family: "object-fit: cover;";  /*IE対策*/
		height: 100%;
		object-fit: cover;
	}
}

.un_concept_stanceText {
	@include maxmq(sm) {
		margin-left: 0;
	}

	margin-left: 62px;
}

.un_concept_stanceAbout {
	margin-top: 1.5em;
}

.un_concept_stanceSubHead {
	@include maxmq(sm) {
		margin-top: 0;
	}

	margin-top: .6em;
}
