/* ページ独自のスタイル */
/************************************************/
.un_concept_lead {
	@include maxmq(tab) {
		text-align: left;
	}
	text-align: center;
}

.un_concept_text {
	@include f_around(20 , 34 , false , 100);
	margin-top: 1.4em;
}

.un_concept_stance {
	margin: 0 auto;
	margin-top: -12px;
	max-width: 878px;
}

.un_concept_stanceBlock {
	display: flex;
	@include maxmq(tab) {
		display: block;
		margin-top: 80px;
	}
	margin-top: 75px;
}

.un_concept_stanceImg {
	flex-shrink: 0;
	height: 200px;
	@include maxmq(tab) {
		height: 400px;
		margin: 0 auto;
		width: 400px;
	}
	@include maxmq(sp) {
		height: 250px;
		margin: 0 auto;
		width: 250px;
	}
	width: 200px;
	img {
		height: 100%;
	}
}

.un_concept_stanceText {
	@include maxmq(tab) {
		margin-left: 0;
		margin-top: 20px;
	}
	margin-left: 62px;
}

.un_concept_stanceAbout {
	margin-top: 1.5em;
}

.un_concept_stanceSubHead {
	margin-top: .6em;
}
