.un_top_header {
	@include maxmq(lg) {
		justify-content: space-between;
	}
	@include maxmq(md) {
		display: block;
		margin-bottom: -300px;
		text-align: center;
	}
	@include maxmq(xs) {
		margin-bottom: -300px;
	}

	display: flex;
	margin-top: 100px;
}

.un_top_logo {
	@include maxmq(md) {
		margin: 0 auto;
		width: 100%;
	}

	height: 45px;
	margin-top: -.3em;
	width: 296px;
	img {
		height: 100%;
		vertical-align: inherit;
	}
}

.un_top_lead {
	margin-top: 30px;
}

.un_definition_wrap {
	@include maxmq(lg) {
		margin-left: 50px;
	}
	@include maxmq(md) {
		display: none;
	}

	margin-left: 100px;
}

.un_definition_block {
	@include maxmq(lg) {
		width: 350px;
	}

	display: flex;
	width: 400px;

	&:not(:first-of-type) {
		margin-top: 1em;
	}
	&:nth-of-type(3) {
		margin-top: .5em;
	}
	&:last-of-type {
		margin-top: .6em;
	}
}

.un_definition_term {
	@include maxmq(lg) {
		flex-basis: 100px;
	}

	color: $accent-color;
	flex-basis: 113px;
	flex-shrink: 0;
	font-style: italic;
}

.un_definition_description {
	@include maxmq(lg) {
		white-space: normal;
	}

	white-space: nowrap;
}
