@charset "UTF-8";
/* base */
/************************************************/
body {
	@include f_around(16 , 27 , false , 100);
	@include maxmq(sm) {
		font-size: rem(14);
	}

	color: $base-color;
	font-family: $fontFamily;
	overflow-x: hidden;
}

img {
	height: auto;
	vertical-align: bottom;
	width: 100%;
}
