@charset "UTF-8";
/* base */
/************************************************/
body {
	color: $base-color;
	font-family: $fontFamily;
	@include f_around(16 , 27 , false , 100);
	overflow-x: hidden;
}

img {
	height: auto;
	vertical-align: bottom;
	width: 100%;
}
