@charset "UTF-8";
/* base */
/************************************************/
body {
  font-size: 1rem;
  line-height: 1.6875;
  letter-spacing: 0.1em;
  color: #909090;
  font-family: "Futura", "Trebuchet MS", sans-serif;
  overflow-x: hidden;
}

@media screen and (max-width: 599px) {
  body {
    font-size: 0.875rem;
  }
}

img {
  height: auto;
  vertical-align: bottom;
  width: 100%;
}

/* layout */
/************************************************/
.ly_top_container {
  margin: 0 auto;
  max-width: 1080px;
}

@media screen and (max-width: 1080px) {
  .ly_top_container {
    margin: 0 20px;
  }
}

@media screen and (max-width: 780px) {
  .ly_top_container {
    position: relative;
  }
}

.ly_contentsWrapper {
  margin: 0 auto;
  max-width: 997px;
  padding: 0 20px;
}

.bl_nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 80px;
}

@media screen and (max-width: 780px) {
  .bl_nav {
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    margin: 0 calc(50% - 50vw);
    margin-top: 0;
    padding: 70px 0;
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    width: 100vw;
  }
}

.el_nav_item {
  font-size: 1.125rem;
  line-height: 1.38889;
  letter-spacing: 0.1em;
  padding-bottom: 25px;
  position: relative;
  text-align: center;
  width: calc(100% / 6);
}

.el_nav_item:first-of-type {
  padding-left: .65em;
  text-align: left;
  width: calc(100% / 8);
}

.el_nav_item:last-of-type {
  padding-right: .65em;
  text-align: right;
  width: calc(100% / 7);
}

.el_nav_item a {
  color: #090909;
  display: inline-block;
  text-decoration: none;
  transition: opacity .2s , -webkit-text-decoration .5s;
  transition: opacity .2s , text-decoration .5s;
  transition: opacity .2s , text-decoration .5s , -webkit-text-decoration .5s;
}

.el_nav_item a:hover {
  opacity: .7;
  text-decoration: underline;
}

@media screen and (max-width: 1080px) {
  .el_nav_item {
    width: calc(100% / 6);
  }
  .el_nav_item:first-of-type {
    padding-left: 0;
    text-align: center;
    width: calc(100% / 6);
  }
  .el_nav_item:last-of-type {
    padding-right: 0;
    text-align: center;
    width: calc(100% / 6);
  }
}

@media screen and (max-width: 780px) {
  .el_nav_item {
    padding-bottom: 0;
    position: static;
    width: 100%;
  }
  .el_nav_item a {
    color: #fff;
    opacity: 0;
    padding-bottom: 25px;
    transition: opacity 2s;
    width: 40%;
  }
  .el_nav_item:first-of-type {
    padding-left: 0;
    text-align: center;
    width: 100%;
  }
  .el_nav_item:last-of-type {
    padding-bottom: 0;
    padding-right: 0;
    text-align: center;
    width: 100%;
  }
  .el_nav_item:last-of-type a {
    padding-bottom: 0;
  }
}

.el_nav_item:not(:last-of-type)::after {
  background-color: #b7b7b7;
  content: "";
  height: 1em;
  position: absolute;
  right: 0;
  top: .35em;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  width: 2px;
}

@media screen and (max-width: 780px) {
  .el_nav_item:not(:last-of-type)::after {
    display: none;
  }
}

.el_btn {
  align-items: center;
  display: flex;
  height: 48px;
  justify-content: center;
  position: absolute;
  right: 0;
  top: -70px;
  width: 45px;
  z-index: 101;
}

@media screen and (min-width: ) {
  .el_btn {
    display: none;
  }
}

.el_btn_line {
  background-color: #090909;
  height: 4px;
  width: 100%;
}

.el_btn_line:hover {
  cursor: pointer;
}

.el_btn_line::before, .el_btn_line::after {
  display: block;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.el_btn_line::before {
  background-color: inherit;
  content: "";
  height: 100%;
  -webkit-transform: translate(0, -16px);
          transform: translate(0, -16px);
  width: 100%;
}

.el_btn_line::after {
  color: #090909;
  content: "menu";
  -webkit-transform: translate(-0.3em, 3px);
          transform: translate(-0.3em, 3px);
}

@media screen and (max-width: 780px) {
  .el_btn_line.is_open::before {
    background-color: #fff;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .el_btn_line.is_open::after {
    color: #fff;
    content: "close";
    -webkit-transform: translate(-0.3em, 3px);
            transform: translate(-0.3em, 3px);
  }
  .bl_nav.is_open {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    z-index: 100;
  }
}

@media screen and (max-width: 780px) and (max-width: 480px) {
  .bl_nav.is_open {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (max-width: 780px) {
  .el_nav_item a.is_open {
    opacity: 1;
  }
}

/* Module */
/************************************************/
.bl_slide_container {
  border-radius: 14px;
  height: 600px;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

@media screen and (max-width: 599px) {
  .bl_slide_container {
    height: 400px;
  }
}

.el_slide_list {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.el_slide_img {
  font-family: "object-fit: cover;";
  /*IE対策*/
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 599px) {
  .el_slide_img {
    -o-object-position: 15% 10%;
       object-position: 15% 10%;
  }
}

.el_section_title {
  font-size: 2.5rem;
  line-height: 1.325;
  letter-spacing: 0.1em;
  color: #090909;
  padding-left: 1em;
}

@media screen and (max-width: 599px) {
  .el_section_title {
    font-size: 2rem;
  }
}

.el_section_subTitle {
  font-size: 1.875rem;
  line-height: 1.7;
  letter-spacing: 0.1em;
  color: #090909;
  margin-top: 100px;
}

@media screen and (max-width: 599px) {
  .el_section_subTitle {
    font-size: 1.40625rem;
    margin-top: 60px;
  }
}

.el_horizon {
  background-image: url(../img/horizon.svg);
  display: block;
  height: 5px;
  margin-top: 20px;
}

.el_horizon_concept {
  margin-top: 10px;
}

/* helperスタイル */
/************************************************/
.hp_mt0 {
  margin-top: 0px !important;
}

.hp_mb0 {
  margin-bottom: 0px !important;
}

.hp_mt10 {
  margin-top: 10px !important;
}

.hp_mb10 {
  margin-bottom: 10px !important;
}

.hp_mt20 {
  margin-top: 20px !important;
}

.hp_mb20 {
  margin-bottom: 20px !important;
}

.hp_mt30 {
  margin-top: 30px !important;
}

.hp_mb30 {
  margin-bottom: 30px !important;
}

.hp_mt40 {
  margin-top: 40px !important;
}

.hp_mb40 {
  margin-bottom: 40px !important;
}

.hp_mt50 {
  margin-top: 50px !important;
}

.hp_mb50 {
  margin-bottom: 50px !important;
}

.hp_mt60 {
  margin-top: 60px !important;
}

.hp_mb60 {
  margin-bottom: 60px !important;
}

.hp_mt70 {
  margin-top: 70px !important;
}

.hp_mb70 {
  margin-bottom: 70px !important;
}

.hp_mt80 {
  margin-top: 80px !important;
}

.hp_mb80 {
  margin-bottom: 80px !important;
}

.hp_mt90 {
  margin-top: 90px !important;
}

.hp_mb90 {
  margin-bottom: 90px !important;
}

.hp_mt100 {
  margin-top: 100px !important;
}

.hp_mb100 {
  margin-bottom: 100px !important;
}

.hp_mt110 {
  margin-top: 110px !important;
}

.hp_mb110 {
  margin-bottom: 110px !important;
}

.hp_mt120 {
  margin-top: 120px !important;
}

.hp_mb120 {
  margin-bottom: 120px !important;
}

.hp_mt130 {
  margin-top: 130px !important;
}

.hp_mb130 {
  margin-bottom: 130px !important;
}

.hp_mt140 {
  margin-top: 140px !important;
}

.hp_mb140 {
  margin-bottom: 140px !important;
}

.hp_mt150 {
  margin-top: 150px !important;
}

.hp_mb150 {
  margin-bottom: 150px !important;
}

@media screen and (max-width: 1080px) {
  .hp_noneTab {
    display: none;
  }
}

@media screen and (min-width: 1080px) {
  .hp_brTab {
    display: none;
  }
}

@media screen and (min-width: 599px) {
  .hp_brSp {
    display: none;
  }
}

.hp_texttransform {
  text-transform: uppercase;
}

.un_top_header {
  display: flex;
  margin-top: 100px;
}

@media screen and (max-width: 1080px) {
  .un_top_header {
    justify-content: space-between;
  }
}

@media screen and (max-width: 780px) {
  .un_top_header {
    display: block;
    margin-bottom: -250px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .un_top_header {
    margin-bottom: -300px;
  }
}

.un_top_logo {
  height: 45px;
  margin-top: -.3em;
  width: 296px;
}

@media screen and (max-width: 780px) {
  .un_top_logo {
    margin: 0 auto;
    width: 100%;
  }
}

.un_top_logo img {
  height: 100%;
}

.un_top_lead {
  margin-top: 30px;
}

.un_definition_wrap {
  margin-left: 100px;
}

@media screen and (max-width: 1080px) {
  .un_definition_wrap {
    margin-left: 50px;
  }
}

@media screen and (max-width: 780px) {
  .un_definition_wrap {
    display: none;
  }
}

.un_definition_block {
  display: flex;
  width: 400px;
}

@media screen and (max-width: 1080px) {
  .un_definition_block {
    width: 350px;
  }
}

.un_definition_block:not(:first-of-type) {
  margin-top: 1em;
}

.un_definition_block:nth-of-type(3) {
  margin-top: .5em;
}

.un_definition_block:last-of-type {
  margin-top: .6em;
}

.un_definition_term {
  color: #090909;
  flex-basis: 113px;
  flex-shrink: 0;
  font-style: italic;
}

@media screen and (max-width: 1080px) {
  .un_definition_term {
    flex-basis: 100px;
  }
}

.un_definition_description {
  white-space: nowrap;
}

@media screen and (max-width: 1080px) {
  .un_definition_description {
    white-space: normal;
  }
}

/* ページ独自のスタイル */
/************************************************/
.un_concept_lead {
  text-align: center;
}

@media screen and (max-width: 599px) {
  .un_concept_lead {
    text-align: left;
  }
}

.un_concept_text {
  font-size: 1.25rem;
  line-height: 1.7;
  letter-spacing: 0.1em;
  margin-top: 1.4em;
}

@media screen and (max-width: 599px) {
  .un_concept_text {
    font-size: 1rem;
  }
}

.un_concept_stance {
  margin: 0 auto;
  margin-top: -12px;
  max-width: 878px;
}

.un_concept_stanceBlock {
  display: flex;
  margin-top: 75px;
}

@media screen and (max-width: 599px) {
  .un_concept_stanceBlock {
    flex-direction: column;
    margin-top: 40px;
  }
}

.un_concept_stanceImg {
  border-radius: 14px;
  flex-shrink: 0;
  height: 200px;
  overflow: hidden;
  width: 200px;
}

@media screen and (max-width: 599px) {
  .un_concept_stanceImg {
    height: 300px;
    margin: 20px auto 0;
    order: 2;
    width: 60%;
  }
}

@media screen and (max-width: 599px) {
  .un_concept_stanceImg {
    height: 250px;
    width: 250px;
  }
}

.un_concept_stanceImg img {
  font-family: "object-fit: cover;";
  /*IE対策*/
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.un_concept_stanceText {
  margin-left: 62px;
}

@media screen and (max-width: 599px) {
  .un_concept_stanceText {
    margin-left: 0;
  }
}

.un_concept_stanceAbout {
  margin-top: 1.5em;
}

.un_concept_stanceSubHead {
  margin-top: .6em;
}

@media screen and (max-width: 599px) {
  .un_concept_stanceSubHead {
    margin-top: 0;
  }
}

/* js対応スタイル */
/************************************************/
