@charset "UTF-8";
/* base */
/************************************************/
body {
  color: #909090;
  font-family: "Futura", "Trebuchet MS", sans-serif;
  font-size: 1rem;
  line-height: 1.6875;
  letter-spacing: 0.1em;
  overflow-x: hidden;
}

img {
  height: auto;
  vertical-align: bottom;
  width: 100%;
}

/* layout */
/************************************************/
.ly_contentsWrapper {
  margin: 0 auto;
  max-width: 997px;
  padding: 0 20px;
}

/* Module */
/************************************************/
.bl_slide_container {
  border-radius: 14px;
  height: 600px;
  margin: 0 auto;
  max-width: 1080px;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 1080px) {
  .bl_slide_container {
    margin: 0 20px;
  }
}

@media screen and (max-width: 780px) {
  .bl_slide_container {
    height: 400px;
  }
}

.el_slide_list {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.el_slide_img {
  font-family: "object-fit: cover;";
  /*IE対策*/
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 780px) {
  .el_slide_img {
    -o-object-position: 15% 10%;
       object-position: 15% 10%;
  }
}

.el_section_title {
  color: #090909;
  font-size: 2.5rem;
  line-height: 1.325;
  letter-spacing: 0.1em;
  padding-left: 1em;
}

@media screen and (max-width: 780px) {
  .el_section_title {
    font-size: 2rem;
  }
}

.el_section_subTitle {
  color: #090909;
  font-size: 1.875rem;
  line-height: 1.7;
  letter-spacing: 0.1em;
  margin-top: 100px;
}

@media screen and (max-width: 780px) {
  .el_section_subTitle {
    font-size: 1.5rem;
    margin-top: 60px;
  }
}

.el_horizon {
  background-image: url(../../../public/assets/img/horizon.svg);
  display: block;
  height: 5px;
  margin-top: 20px;
}

.el_horizon_concept {
  margin-top: 10px;
}

/* helperスタイル */
/************************************************/
.hp_mt0 {
  margin-top: 0px !important;
}

.hp_mb0 {
  margin-bottom: 0px !important;
}

.hp_mt10 {
  margin-top: 10px !important;
}

.hp_mb10 {
  margin-bottom: 10px !important;
}

.hp_mt20 {
  margin-top: 20px !important;
}

.hp_mb20 {
  margin-bottom: 20px !important;
}

.hp_mt30 {
  margin-top: 30px !important;
}

.hp_mb30 {
  margin-bottom: 30px !important;
}

.hp_mt40 {
  margin-top: 40px !important;
}

.hp_mb40 {
  margin-bottom: 40px !important;
}

.hp_mt50 {
  margin-top: 50px !important;
}

.hp_mb50 {
  margin-bottom: 50px !important;
}

.hp_mt60 {
  margin-top: 60px !important;
}

.hp_mb60 {
  margin-bottom: 60px !important;
}

.hp_mt70 {
  margin-top: 70px !important;
}

.hp_mb70 {
  margin-bottom: 70px !important;
}

.hp_mt80 {
  margin-top: 80px !important;
}

.hp_mb80 {
  margin-bottom: 80px !important;
}

.hp_mt90 {
  margin-top: 90px !important;
}

.hp_mb90 {
  margin-bottom: 90px !important;
}

.hp_mt100 {
  margin-top: 100px !important;
}

.hp_mb100 {
  margin-bottom: 100px !important;
}

.hp_mt110 {
  margin-top: 110px !important;
}

.hp_mb110 {
  margin-bottom: 110px !important;
}

.hp_mt120 {
  margin-top: 120px !important;
}

.hp_mb120 {
  margin-bottom: 120px !important;
}

.hp_mt130 {
  margin-top: 130px !important;
}

.hp_mb130 {
  margin-bottom: 130px !important;
}

.hp_mt140 {
  margin-top: 140px !important;
}

.hp_mb140 {
  margin-bottom: 140px !important;
}

.hp_mt150 {
  margin-top: 150px !important;
}

.hp_mb150 {
  margin-bottom: 150px !important;
}

/* ページ独自のスタイル */
/************************************************/
.un_concept_lead {
  text-align: center;
}

@media screen and (max-width: 780px) {
  .un_concept_lead {
    text-align: left;
  }
}

.un_concept_text {
  font-size: 1.25rem;
  line-height: 1.7;
  letter-spacing: 0.1em;
  margin-top: 1.4em;
}

.un_concept_stance {
  margin: 0 auto;
  margin-top: -12px;
  max-width: 878px;
}

.un_concept_stanceBlock {
  display: flex;
  margin-top: 75px;
}

@media screen and (max-width: 780px) {
  .un_concept_stanceBlock {
    display: block;
    margin-top: 80px;
  }
}

.un_concept_stanceImg {
  flex-shrink: 0;
  height: 200px;
  width: 200px;
}

@media screen and (max-width: 780px) {
  .un_concept_stanceImg {
    height: 400px;
    margin: 0 auto;
    width: 400px;
  }
}

@media screen and (max-width: 480px) {
  .un_concept_stanceImg {
    height: 250px;
    margin: 0 auto;
    width: 250px;
  }
}

.un_concept_stanceImg img {
  height: 100%;
}

.un_concept_stanceText {
  margin-left: 62px;
}

@media screen and (max-width: 780px) {
  .un_concept_stanceText {
    margin-left: 0;
    margin-top: 20px;
  }
}

.un_concept_stanceAbout {
  margin-top: 1.5em;
}

.un_concept_stanceSubHead {
  margin-top: .6em;
}

/* js対応スタイル */
/************************************************/
