/* layout */
/************************************************/
.ly_top_container {
	@include maxmq(tab) {
		margin: 0 20px;
	}
	margin: 0 auto;
	max-width: 1080px;
}

.ly_contentsWrapper {
	margin: 0 auto;
	max-width: 997px;
	padding: 0 20px;
}
